<body class='body'>
  <div class="jumbotron text-center">
      <div class="container">
          <h1 class="display-2 text-white text-bold">Welcome to Sorgente!</h1>
          <p> <p class="lead text-white text-bold">A collective curation of the best materials to learn coding. Sorgente translated to english means The Source. </p> 
      </div>
  </div>


<div class="row">
  <div class="class="col-6"">
    <%= link_to login_path do %>
      <button type="button" class="btn btn-primary">Login</button>
    <% end %>
    <%= link_to signup_path do %>
      <button type="button" class="btn btn-primary">Signup</button>
    <% end %>
  </div>
</div>

</body>


