<h1>TOPIC SHOW PAGE</h1>

<h1>All <%= @topic.name %> Resources </h1>

<% @resources.each do |r| %>
<h2><%= link_to r.site_name, r.url %> </h2> 
<!-- need to add avg user rating here-->
<p><%= r.description %></p>
<% end %>