<h1>TOPIC SHOW PAGE</h1>

<h1>All <%= @topic.name %> Resources </h1>

<%= render @resources %>
<!-- this is using the _resource partial and it knows to iterate through the collection instead of rendering the partial each time I display a resource. This is also called in the _resources_index partial which is rendered in the index and most_reviewed index pages-->

<%== pagy_bootstrap_nav(@pagy)%>