<h1>All Resources</h1>

<% @resources.each do |r| %>
<p>
<%= link_to r.site_name,  resource_path(r.id)%>
</br>
<%= r.description %>
<%= link_to "Add Review", new_resource_review_path(r.id)%>
</p>
<% end %>