<h1>All Reviews</h1>

<ul>
<% @reviews.each do |r| %>
<!-- need to add resource name here and in schema in place of url-->
<li> <%=r.resource.url %>
<%=r.title %>
 <%=r.comment %>
 <%=r.stars %> 
 </li>
</ul>
<% end %>
