<h1><%= new_review_header %> </h1>


<!-- we are rendering the partial and setting the object to the local variable for the form we are using -->
<%= render partial: 'layouts/errors', locals: {object: @review} %>

<%= render partial: 'form' %>