<h1>REVIEW SHOW PAGE</h1>


<div class="container">
    <div class="row"> 
        <%= render partial: 'review', locals: {review: @review} %>
    </div>
</div>

<% if can? :update, @review %>
    <%= link_to edit_review_path(@review.id) do %>
        <button type="button" class="btn btn-primary">Edit Review</button> 
    <% end %>
<% end %>